/* styles.css */
.ptp-global-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: #555; 
}


.ptp-global-table {
  width: 100%;
  border-collapse: collapse;
}

.ptp-global-table-td-empty {
  background-color: #f0f0f0; /* Gris clair */
  color: #ccc; /* Texte gris très pâle */
  font-style: italic;
}

.ptp-h1-title {
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 28px !important;
  font-weight: bold !important;
  text-align: left;
  color: #007BFF !important; /* Bleu vif */
  background: linear-gradient(to right, #007BFF, #00C6FF); /* Dégradé bleu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Effet de texte en dégradé */
  margin-top: 40px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 123, 255, 0.5);
}



.modal-j-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-j-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.refresh-button {
    margin-right: 10px;  /* Ajuste la valeur selon tes besoins */
}


.ptp-th-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  min-width: 100px; /* Garantir qu'il n'y ait pas de largeur minimale définie qui bloque l'extension */
  max-width: 300px; /* Limite la largeur maximale à 300px */
  width: auto; /* Permet à la largeur de s'ajuster au contenu */
  overflow: hidden; /* Cache les éléments qui dépassent la largeur maximale */
}

.ptp-td-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  min-width: 100px; /* Garantir qu'il n'y ait pas de largeur minimale définie qui bloque l'extension */
  max-width: 300px; /* Limite la largeur maximale à 300px */
  width: auto; /* Permet à la largeur de s'ajuster au contenu */
  overflow: hidden; /* Cache les éléments qui dépassent la largeur maximale */
}


/* Bouton de suppression des filtres */
.ptp-filter-button{
    margin-left: 10px;
    cursor: pointer;
    display: inline-flex;
    background-color: #ffcc00; /* Jaune par exemple */
}


.ptp-filter-button-active {
    background-color: #ffcc00 !important; /* Jaune par exemple */
    color: black;
    font-weight: bold;
}

.ptp-filter-button-clear:hover {
    background-color: darkred;
}

.ptp-date-gray-input {
    background-color: #ffffff !important;
    color: #ffffff !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    border-radius: 4px !important;
}

.ptp-date-button{
    background-color: #f0f0f0 !important;
}

.th-small-text {
    font-size: 0.8em; /* Taille plus petite */
    color: gray; /* Optionnel : couleur plus discrète */
}

